In [223]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [164]:
data = pd.read_csv('/Users/aleksandrbystrickij/PycharmProjects/movie_bd_v5.csv')
data.sample(5)
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data.genres.str.split('|')
data['director'] = data.director.str.split('|')
data['cast'] = data.cast.str.split('|')
data['production_companies'] = data.production_companies.str.split('|')
data['release_date'] = data.release_date.str.split('/')
data['title_length'] = data.original_title.apply(lambda x: len(x))
data['overview_length'] = data.overview.str.split(' ').apply(lambda x: len(x))

In [69]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [38]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [203]:
# тут пишем ваш код для решения данного вопроса:
data1 = data[data['budget'] == data['budget'].max()]

print(data1['original_title'])

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides +'

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [202]:
data2 = data[data['runtime'] == data['runtime'].max()]

print(data2['original_title'])

answers['2'] = 'Gods and Generals +'

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [200]:
data3 = data[data['runtime'] == data['runtime'].min()]

print(data3['original_title'])

answers['3'] = 'Winnie the Pooh +'

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [198]:
data4 = data['runtime'].mean()

print(round(data4))

answers['4'] = '110 +'

110

# 5. Каково медианное значение длительности фильмов?

In [197]:
data5 = data['runtime'].median()

print(data5)

answers['5'] = '107 +'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [192]:
data6 = data[data['profit'] == data['profit'].max()]

print(data6['original_title'])

answers['6'] = 'Avatar +'

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [196]:
data7 = data[data['profit'] == data['profit'].min()]

print(data7['original_title'])

answers['7'] = 'The Lone Ranger +'

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [212]:
data8 = data[['imdb_id', 'revenue', 'budget']].copy()
data8 = data8[data8['revenue'] > data8['budget']].nunique()
print(data8['imdb_id'])

answers['8'] = '1478 +'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [191]:
data9 = data.query('release_year == 2008').sort_values('profit', ascending=False)

print(data9['original_title'].head(1))

answers['9'] = 'The Dark Night +'

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [190]:
data10 = data.query('2012 < release_year < 2014').sort_values('profit', ascending=True)

print(data10['original_title'].head(1))

answers['10'] = 'The Lone Ranger +'

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [189]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
gen = data.explode('genres')['genres']
data11 = Counter(gen)

print(data11.most_common(1))

answers['11'] = 'Drama +'

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [188]:
data12 = data.copy().query('profit > 0')
data12 = data12.explode('genres')['genres']
data12 = Counter(gen)

print(data12.most_common(1))

answers['12'] = 'Drama +'

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [186]:
data13 = data.explode('director')
data13 = data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

print(data13.head(1))

answers['13'] = 'Peter Jackson +'

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [185]:
data14 = data.copy()
data14 = data.explode('genres')
data14 = data14[data14.genres.str.contains('Action', na=False)]
data14 = data14.explode('director').groupby(['director'])['genres'].count().sort_values(ascending=False)

print(data14.head(1))

answers['14'] = 'Robert Rodriguez +'

director
Robert Rodriguez    9
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [184]:
data15 = data.copy().query('release_year == 2012')
data15 = data15.explode('cast').groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

print(data15.head(1))

answers['15'] = 'Chris Hemsworth +'

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [183]:
data16 = data.copy()
data16 = data16[data16['budget'] > data16['budget'].mean()]
data16 = data16.explode('cast').groupby(['cast'])['imdb_id'].count().sort_values(ascending=False)

print(data16.head(1))

answers['16'] = 'Matt Damon +'

cast
Matt Damon    18
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [182]:
data17 = data.explode('cast')
data17 = data17[data17['cast'] == 'Nicolas Cage']
data17 = data17.explode('genres').groupby(['genres'])['imdb_id'].count().sort_values(ascending=False)

print(data17.head(1))

answers['17'] = 'Action +'

genres
Action    17
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [218]:
data18 = data.explode('production_companies')
data18 = data18[data18['production_companies'] == 'Paramount Pictures']
data18 = data18[data18['profit'] == data18['profit'].min()]

print(data18['original_title'].head(1))

answers['18'] = 'K-19: The Widowmaker +'

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [217]:
data19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

print(data19.head(1))

answers['19'] = '2015 +'

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [245]:
data20 = data.explode('production_companies')
data20 = data20[data20['production_companies'] == 'Warner Bros.']
data20 = data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

print(data20)

answers['20'] = '2007 ?'

release_year
2007    2167367993
2008    2134595031
2014    1886303827
2011    1871393682
2003    1855493377
2010    1853128844
2009    1833481628
2004    1675125175
2013    1636453400
2005    1551980298
2001    1428174853
2012    1258020056
2002    1072248589
2015     870368348
2006     614989614
2000     471305068
Name: profit, dtype: int64

In [246]:
data2 = data.explode('production_companies')
pivot = data2.pivot_table(values=['profit'],
				index=['release_year'],
				columns=['production_companies'],
				aggfunc='sum',
				margins=True,
				fill_value=0)

pivot = pivot.reindex(pivot['profit'].sort_values('Warner Bros.', ascending=False).index)

print(pivot)

                                              profit                   \
production_companies "DIA" Productions GmbH & Co. KG 11:11 Mediaworks
release_year
All                                          8350926         94188334
2007                                               0                0
2008                                               0                0
2014                                               0                0
2011                                               0                0
2003                                         8350926                0
2010                                               0                0
2009                                               0                0
2004                                               0                0
2013                                               0                0
2005                                               0                0
2001                                               0                0
2012                                               0                0
2002                                               0                0
2015                                               0                0
2006                                               0         94188334
2000                                               0                0

                                                                     \
production_companies 1492 Pictures 1984 Private Defense Contractors
release_year
All                     3865035582                         36619464
2007                     159047763                                0
2008                             0                                0
2014                     222424282                         25181600
2011                      99272124                         24806235
2003                             0                                0
2010                     131497209                                0
2009                     263106170                                0
2004                     659804554                                0
2013                      84578751                        -36298836
2005                     222250339                                0
2001                     781885067                                0
2012                             0                         22930465
2002                     776688482                                0
2015                             0                                0
2006                     464480841                                0
2000                             0                                0

                                                   \
production_companies 2 Entertain 20th Century Fox
release_year
All                     14015963       1245410990
2007                    20811672         10342161
2008                    -6795709         -9349921
2014                           0        127912430
2011                           0        389860185
2003                           0         -7077834
2010                           0        127786662
2009                           0                0
2004                           0         -3394237
2013                           0         79163164
2005                           0        326549652
2001                           0        -19570391
2012                           0         94772232
2002                           0                0
2015                           0                0
2006                           0         24360014
2000                           0        104056873

                                                          \
production_companies 20th Century Fox Home Entertainment
release_year
All                                             -2719674
2007                                                   0
2008                                                   0
2014                                                   0
2011                                                   0
2003                                                   0
2010                                                   0
2009                                            -2719674
2004                                                   0
2013                                                   0
2005                                                   0
2001                                                   0
2012                                                   0
2002                                                   0
2015                                                   0
2006                                                   0
2000                                                   0

                                                                       ...  \
production_companies 21 Laps Entertainment  26 Films 2929 Productions  ...
release_year                                                           ...
All                             1451694150  35630314         19424750  ...
2007                                     0         0         33926886  ...
2008                             135000000         0        -18326578  ...
2014                             316574751         0                0  ...
2011                             189268508         0                0  ...
2003                                     0         0                0  ...
2010                              97263880         0                0  ...
2009                             263106170   3455276         -4364695  ...
2004                                     0         0          5114487  ...
2013                             -14000000         0                0  ...
2005                                     0  32175038         -7873775  ...
2001                                     0         0                0  ...
2012                                     0         0                0  ...
2002                                     0         0                0  ...
2015                                     0         0                0  ...
2006                             464480841         0         10948425  ...
2000                                     0         0                0  ...

                                                           \
production_companies Zentropa Entertainments Zephyr Films
release_year
All                                 27231879    -42116329
2007                                       0    -42116329
2008                                       0            0
2014                                       0            0
2011                                       0            0
2003                                       0            0
2010                                       0            0
2009                                       0            0
2004                                       0            0
2013                                       0            0
2005                                       0            0
2001                                       0            0
2012                                       0            0
2002                                       0            0
2015                                       0            0
2006                                       0            0
2000                                27231879            0

                                                                     \
production_companies Zero Gravity Management Zide-Perry Productions
release_year
All                                 -5500000              654825826
2007                                       0                      0
2008                                       0                      0
2014                                       0                      0
2011                                       0                      0
2003                                       0              240875608
2010                                       0                      0
2009                                       0                      0
2004                                       0                      0
2013                                       0                      0
2005                                       0                      0
2001                                       0              290928746
2012                                       0                      0
2002                                       0                      0
2015                                       0                      0
2006                                -5500000               92719158
2000                                       0               30302314

                                                         \
production_companies Zippcast Films Zohar International
release_year
All                        33571250           602171856
2007                              0                   0
2008                              0                   0
2014                              0                   0
2011                              0           602171856
2003                              0                   0
2010                              0                   0
2009                              0                   0
2004                              0                   0
2013                              0                   0
2005                              0                   0
2001                              0                   0
2012                              0                   0
2002                              0                   0
2015                       33571250                   0
2006                              0                   0
2000                              0                   0

                                                                            \
production_companies Zucker/Netter Productions platinum studios      uFilm
release_year
All                                  280208309         -3543613  118432856
2007                                         0                0          0
2008                                         0                0          0
2014                                         0                0          0
2011                                         0         11822325  118432856
2003                                         0                0          0
2010                                         0        -15365938          0
2009                                 280208309                0          0
2004                                         0                0          0
2013                                         0                0          0
2005                                         0                0          0
2001                                         0                0          0
2012                                         0                0          0
2002                                         0                0          0
2015                                         0                0          0
2006                                         0                0          0
2000                                         0                0          0


production_companies           All
release_year
All                   617780536243
2007                   39556812949
2008                   38055266115
2014                   58543466580
2011                   46949975181
2003                   29122447864
2010                   43327868529
2009                   48823521075
2004                   32433267183
2013                   45496589970
2005                   29365704422
2001                   24928075425
2012                   42692162023
2002                   25662346177
2015                   65334625738
2006                   28493249688
2000                   18995157324

[17 rows x 1772 columns]

#Cводной таблицей получился также 2007 год (на всякий случай проверил и по сборам - там тоже 2007, в вариантах ответов такого нет. Почему рассчитывается не суммой прибыли за год?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [215]:
data21 = data.copy()
data21.release_date = data21.release_date.apply(lambda x: x[0])
data21 = data21['release_date']
answ21 = Counter(data21)

print(answ21.most_common(1))

answers['21'] = '9 +'

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [214]:
data22 = data.copy()
data22.release_date = data.release_date.apply(lambda x: x[0])
data22 = data22[(data22['release_date'] == '8') | (data22['release_date'] == '7') | (data22['release_date'] == '6')]
data22 = data22['imdb_id'].count()

print(data22)

answers['22'] = '450 +'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [230]:
data23 = data.copy()
data23.release_date = data.release_date.apply(lambda x: x[0])
data23 = data23[(data23['release_date'] == '12') | (data23['release_date'] == '1') | (data23['release_date'] == '2')]
data23 = data23.explode('director').groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

print(data23.head(1))

answers['23'] = 'Peter Jackson +'

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [231]:
data24 = data.explode('production_companies')
data24 = data24.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False)

print(data24.head(1))

answers['24'] = 'Four By Two Productions +'

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [232]:
data25 = data.explode('production_companies')
data25 = data25.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False)

print(data25.head(1))

answers['25'] = 'Midnight Picture Show +'

production_companies
Midnight Picture Show    175.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [233]:
data26 = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]

print(data26['original_title'])

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave  +'

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [225]:
data27 = data.copy()
data27.cast = data27.cast.apply(lambda x: list(combinations(sorted(x), 2)))

print(data27.explode('cast').cast.value_counts())

answers['27'] = 'Daniel Radcliffe, Rupert Grint +'

(Daniel Radcliffe, Rupert Grint)        8
(Daniel Radcliffe, Emma Watson)         8
(Emma Watson, Rupert Grint)             8
(Ben Stiller, Owen Wilson)              6
(Helena Bonham Carter, Johnny Depp)     6
                                       ..
(Idris Elba, Tony Kgoroge)              1
(Dakota Fanning, Elisabeth Shue)        1
(Daniel E. Smith, Denzel Washington)    1
(Brenton Thwaites, Jeff Bridges)        1
(Antonio Banderas, Nick Chinlund)       1
Name: cast, Length: 17943, dtype: int64

ВАРИАНТ 2

# Submission

In [239]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides +',
 '2': 'Gods and Generals +',
 '3': 'Winnie the Pooh +',
 '4': '110 +',
 '5': '107 +',
 '6': 'Avatar +',
 '7': 'The Lone Ranger +',
 '8': '1478 +',
 '9': 'The Dark Night +',
 '11': 'Drama +',
 '16': 'Matt Damon +',
 '15': 'Chris Hemsworth +',
 '14': 'Robert Rodriguez +',
 '13': 'Peter Jackson +',
 '12': 'Drama +',
 '17': 'Action +',
 '10': 'The Lone Ranger +',
 '22': '450 +',
 '21': '9 +',
 '20': '2007 ?',
 '19': '2015 +',
 '18': 'K-19: The Widowmaker +',
 '27': 'Daniel Radcliffe, Rupert Grint +',
 '23': 'Peter Jackson +',
 '24': 'Four By Two Productions +',
 '25': 'Midnight Picture Show +',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave  +'}

In [236]:
# и убедиться что ни чего не пропустил)
len(answers)

27